<br>
<br>
<span >
<p  class=" ir-arriba redondo" style="display: block;">
   <i class="fas fa-chevron-up"></i>
</p>
</span>
<footer class="text-center  text-white fuente" style="background-color: rgba(157,36,73,255)">
    
    <!-- Section: Links  -->
  
        <br>
        <div class="container text-center text-md-start ">
            <!-- Grid row -->
            <div class="row mt-1">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3" align="center">
                    <!-- Content -->
                    
                    <div
                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item container-lg ">
                        <p class="container-lg"><img alt="firma blanco.png" height="173" src="/img/firma blanco.WebP"
                                width="100" /></p>
                    </div>
                    
                </div>
                <div class="col-md-1 col-lg-4 col-xl-3 mx-auto mb-2">
                    <!-- Links -->
                   <p class="text-black">TRANSPARENCIA</p>
                   
                    <p class="text-light">
                        Portal Transparencia
                    </p>
                    <p class="text-light">
                        ITAIP
                    </p>
                    <p class="text-light">
                        Infomex
                    </p>
                    <p class="text-light">
                        Accesibilidad
                    </p>
                    <p class="text-light">
                        Mapa del Sitio
                    </p>
                </div>
               
                            <div
                                class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item col-md-3">
                                <p class="text-black">TRANSPARENCIA</p>
                                <p><a class="twitter-timeline" data-chrome="nofooter noborders noheader"
                                        data-dnt="false" data-height="260px" data-theme="dark" data-tweet-limit="1"
                                        href="https://twitter.com/Gobierno_Tab?ref_src=twsrc%5Etfw">Tweets by
                                        Gobierno_Tab</a>
                                    <script async="" src="https://platform.twitter.com/widgets.js"
                                        charset="utf-8"></script>
                                </p>
                            </div>
                

            </div>
        </div>
    

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold"> Gobierno del Estado de Tabasco © Derechos Reservados</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Termina Footer -->