<div class="fixed-top fuente">
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-bottom "
    style="background-color: rgba(157,36,73,255)">
    <div class="container-lg">
        <a class="navbar-brand text-light fw-bold lang"  key="Portal">Portal Noticias</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form class="d-flex">
                <div class="search-container">
                    <input type="text" name="typeahead" placeholder="Buscar..." autocomplete="off" spellcheck="false"class="search-input">

                    <a href="#" class="search-btn">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </form>
            <p>

            </p>

            <form class="d-flex">
                <div class="search-container">
                    <a href="#" class="search-btn">
                        <div class="nav-item dropdown">
                            <i class="fas fa-globe-americas nav-item dropdown"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item translate" id="es">Español</a></li>
                                <li><a class="dropdown-item translate" id="en">Inglés</a></li>
                                <li><a class="dropdown-item translate" id="chol">Chol</a></li>
                            </ul>
                        </div>

                    </a>
                </div>
            </form>

            <p>

            </p>

            <a href="/login" class="search-btn">
                <form class="d-flex">
                    <div class="search-container">
                        <i class="fas fa-user" ></i>
                        
                    </div>
                </form>
            </a>
        </div>

    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a  key="somos" class="nav-link lang" href="/about-us">Quienes Somos</a>                
                </li>
                <li class="nav-item">
                    <a key="inicio" class="nav-link lang" aria-current="page" href="/"> Inicio</a>
                </li>

                <li class="nav-item">
                    <a key="directorio" class="nav-link lang" href="/directory">Directorio</a>
                </li>
                <li class="nav-item">
                    <a  key="Convocatoria" class="nav-link lang" href="https://tabasco.gob.mx/convocatorias-setab" target="_blank">Convocatoria</a>
                </li>  
                <li class="nav-item">
                    <a key="Tramites"class="nav-link lang" href="https://tabasco.gob.mx/tramites-y-servicios" target="_blank">Tramites</a>    
                </li>
                
            </ul>
        </div>
    </div>
</nav>

    
   </div>